@include font("HelveticaNeueCyr-Black", "HelveticaNeueCyr-Black", "400", "normal");
@include font("HelveticaNeueCyr-Bold", "HelveticaNeueCyr-Bold", "400", "normal");
@include font("HelveticaNeueCyr-Light", "HelveticaNeueCyr-Light", "400", "normal");
@include font("HelveticaNeueCyr-Thin", "HelveticaNeueCyr-Thin", "400", "normal");
@include font("HelveticaNeueCyr-Medium", "HelveticaNeueCyr-Medium", "400", "normal");
@include font("HelveticaNeueCyr-Heavy", "HelveticaNeueCyr-Heavy", "400", "normal");
@include font("HelveticaNeueCyr-UltraLight", "HelveticaNeueCyr-UltraLight", "400", "normal");
@include font("HelveticaNeueCyr-Roman", "HelveticaNeueCyr-Roman", "400", "normal");
@include font("HelveticaNeueCyr-Italic", "HelveticaNeueCyr-Italic", "400", "normal");
