.buttons-header {
  display: flex;
  @include setProp(gap, 44, 24, 0);

  @media (max-width: $md2+px) {
    justify-content: space-between;
    width: 100%;
  }
  &__social {}

  &__socials {
    display: flex;
    @include setProp(gap, 12, 8, 0);
  }

  &__start {
    @media (max-width: $md2+px) {
      width: 100%;
    }
  }
}

.geo {
  &__body {
    display: none;
  }

  &__head {
    display: flex;
    align-items: center;
    @include setProp(gap, 6, 6, 0);
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      background: url("../img/icons/geo.svg") center no-repeat;
      background-size: contain;

      @include setProp(width, 14, 14, 0);
      @include setProp(height, 17, 17, 0);
    }

    &::after {
      content: "";
      display: block;
      background: url("../img/icons/select.svg") center no-repeat;
      background-size: contain;

      @include setProp(width, 16, 16, 0);
      @include setProp(height, 6, 6, 0);
    }
  }

  &__link {}

  &__list {}
}

.header {
  // position: fixed;
  // width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 4;
  // background-color: #fff;

  position: relative;

  &__buttons {
  }

  &__contacts {
    @include setProp(font-size, 18, 18, 0);
    display: grid;
    @include setProp(gap, 10, 10, 0);
  }

  &__container {
    display: flex;
    @include setProp(gap, 137, 24, 0);
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include setProp(padding-top, 16, 16, 1);
    @include setProp(padding-bottom, 16, 16, 1);
  }

  &__items {
    display: flex;
    align-items: center;
    @include setProp(gap, 144, 24, 0);
    flex: 1 1 auto;

    @media (max-width: $md2+px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include setProp(gap, 24, 24, 0);
    flex: 1 1 auto;

    @media (max-width: $md2+px) {
      flex-direction: column;
      align-items: flex-start;
      @include setProp(gap, 24, 86, 0);
  }
  }

  &__logo {
    @include setProp(width, 303, 188, 0);
    position: relative;
    z-index: 6;
  }

  &__menu {}

  &__mobile-contacts {}

  &__close {
    @include setProp(width, 24, 24, 0);
    @include setProp(height, 24, 24, 0);
    cursor: pointer;
    background: url("../img/icons/close.svg") center no-repeat;
    background-size: contain;

    position: absolute;
    @include setProp(top, 46, 46, 0);
    right: 0;

    @media (max-width: $md3+px) {
      right: 24px;
    }

    @media (max-width: $md2+px) {
      background: none;
      @include setProp(width, 48, 48, 0);
      @include setProp(height, 12, 12, 0);
      display: block;
      z-index: 6;

      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        right: 0px;
        position: absolute;
        width: 100%;
        @include setProp(height, 2, 2, 0);
        background-color: #000;

        &:first-child {
          top: 0px;
        }

        &:last-child {
          top: auto;
          bottom: 0px;
          @include setProp(width, 32, 32, 0);
        }
      }

      &._active {
        span {
          transform: scale(0);

          &:first-child {
            @include setProp(width, 24, 24, 0);
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }

          &:last-child {
            transform: rotate(45deg);
            @include setProp(width, 24, 24, 0);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

  &__phone {
    color: #212121;
    display: flex;
    align-items: center;
    @include setProp(gap, 6, 6, 0);

    &::before {
      content: "";
      display: block;
      background: url("../img/icons/phone.svg") center no-repeat;
      background-size: contain;

      @include setProp(width, 16, 16, 0);
      @include setProp(height, 16, 16, 0);
    }
  }
}

.menu {
  display: flex;
  position: relative;
  z-index: 6;
  @include setProp(gap, 56, 0, 0);

  @media (max-width: $md2+px) {
    gap: 0px;
    flex-direction: column;
    width: 100%;
  }

  &__block {}

  &__item {
    @media (max-width: $md2+px) {
      border-top: 1px solid #E3E3E3;
      border-bottom: 1px solid #E3E3E3;
      margin-top: -1px;
    }
  }

  &__title {
    text-transform: uppercase;
    @include setProp(font-size, 18, 18, 0);
    font-family: $fontMedium;
    display: flex;
    @include setProp(gap, 4, 4, 0);
    align-items: center;
    cursor: pointer;

    @include setProp(padding-top, 16, 16, 0);
    @include setProp(padding-bottom, 16, 16, 0);

    &::after {
      content: "";
      display: block;
      background: url("../img/icons/select.svg") center no-repeat;
      background-size: contain;
      @include setProp(width, 16, 16, 0);
      @include setProp(height, 6, 6, 0);
      transition: .3s;
    }

    @media (max-width: $md2+px) {
      justify-content: space-between;

      &._active {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__subs {
    @include setProp(padding-top, 24, 24, 0);
    @include setProp(padding-bottom, 24, 24, 0);
    flex-direction: column;
    gap: 24px;

    &:not([hidden]) {
      display: flex;
    }

    @media (min-width: $md2+px) {
      display: none !important;
    }
  }

  &__sub {
    @include setProp(font-size, 16, 16, 0);
    color: #212121;
  }
}

//====================================================================================================

//====================================================================================================

//Burger
.icon-menu {
  display: none;

  @media (max-width: $md2+px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.sale-menu {
  @include setProp(max-width, 460, 460, 0);
  background-color: #f5ff82;

  @include setProp(padding-top, 56, 40, 0);
  @include setProp(padding-bottom, 56, 40, 0);
  @include setProp(padding-left, 56, 24, 0);
  @include setProp(padding-right, 56, 24, 0);

  &__advs {
    display: flex;
    flex-direction: column;
    @include setProp(gap, 12, 12, 0);
  }

  &__advs-item {
    display: flex;
    @include setProp(gap, 5, 5, 0);
    @include setProp(font-size, 20, 20, 0);
    line-height: 110%;

    &::before {
      content: "";
      display: block;
      background: #212121 url("../img/icons/accept.svg") center no-repeat;
      border-radius: 50%;
      @include setProp(background-size, 9, 9, 0);
      @include setProp(min-width, 25, 25, 0);
      @include setProp(width, 25, 25, 0);
      @include setProp(height, 25, 25, 0);
    }
  }

  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    @include setProp(gap, 7, 7, 0);
  }

  &__info-item {
    @include setProp(padding, 16, 12, 0);
    @include setProp(border-radius, 40, 40, 0);
    border: 1px solid #212121;
    width: fit-content;
  }

  &__link {
    @include setProp(margin-top, 40, 40, 0);
    display: block;
    color: #212121;
    text-decoration: underline;
  }

  &__start {
    @include setProp(margin-top, 40, 40, 0);
    width: 100%;
    background: transparent;
  }

  &__title {
    @include setProp(font-size, 32, 32, 0);
    font-family: $fontMedium;
    @include setProp(margin-bottom, 24, 24, 0);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include setProp(gap, 20, 20, 0);
    @include setProp(margin-bottom, 32, 32, 0);
  }
}

.slide-menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  bottom: 100%;
  overflow-y: auto;
  left: 0;
  background-color: #f5f5f5;
  z-index: 5;
  transition: 0.5s;
  // transform: translateY(-100vh);

  @media (max-width: $md2+px) {
    position: fixed;
  }

  &._active {
    // transform: translateY(0);
    bottom: 0;
  }

  &__container {
    position: relative;
  }

  &__items {
    justify-content: space-between;
  }

  &__wrapper {
    @include setProp(padding-top, 213, 133, 0);
    display: flex;
    justify-content: space-between;

    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }

  &__item {
    &._active .slide-menu__link::after {
      opacity: 1;
      transform: translateX(20px);
    }

    &._active .slide-menu__subs {
      display: flex;
    }

    &:not(._active)._gray {
      opacity: 0.3;
    }
  }

  &__left {
    @include setProp(max-width, 440, 440, 0);

    @media (max-width: $md2+px) {
      max-width: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include setProp(gap, 16, 16, 0);
    color: #212121;
    @include setProp(padding-top, 28, 12, 0);
    @include setProp(padding-bottom, 28, 12, 0);

    &::after {
      content: "";
      display: block;
      background: url("../img/icons/arrow-link.svg") center no-repeat;
      background-size: contain;
      @include setProp(width, 25, 25, 0);
      @include setProp(height, 17, 17, 0);
      opacity: 0;
      transition: 0.3s;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    // @include setProp(gap, 56, 24, 0);
    position: relative;

    &._active {
      display: flex;
    }

    @include setProp(padding-right, 74, 56, 0);
    border-right: 1px solid #a1a1a1;

    font-family: $fontMedium;
    @include setProp(font-size, 24, 18, 0);
    line-height: 110%;
  }

  &__part {}

  &__right {
    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &__sale {}

  &__sub {
    display: block;
    color: #212121;
    @include setProp(padding-top, 28, 12, 0);
    @include setProp(padding-bottom, 28, 12, 0);

    &:not(._active)._gray {
      opacity: 0.3;
    }
  }

  &__subs {
    display: none;
    flex-direction: column;
    @include setProp(gap, 24, 24, 0);
    position: absolute;
    left: 100%;
    @include setProp(top, 0, 0, 0);
    width: fit-content;
    @include setProp(padding-left, 68, 56, 0);
    @include setProp(width, 600, 600, 0);

    @media (max-width: $md2+px) {
      display: none !important;
    }
  }
}