    <div class="calculator__container _container">
        <div class="calculator__wrapper">
            <form action="#" class="calculator__left">
                <div class="calculator__steps steps-calculator">
                    <div data-step="0" class="steps-calculator__item _active">
                        <p class="steps-calculator__title">Сколько будет стоить ваш проект?</p>
                        <div class="steps-calculator__start _button">
                            <span>Рассчитать</span>
                            <svg viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.9795 10.4199C21.6003 10.4293 17.4749 12.1303 17.491 17.9499"/>
                                <path d="M24.9727 7.50977C21.5935 7.5191 17.4587 5.84094 17.4427 0.0212691"/>
                                <rect x="21.2139" y="6.67383" transform="rotate(89.8417 21.2139 6.67383)"/>
                            </svg>	
                        </div>
                    </div>
                    <div data-step="1" class="steps-calculator__item">
                        <p class="steps-calculator__subtitle">Какая услуга вас интересует?</p>
                        <div class="steps-calculator__options">
                            <label class="steps-calculator__radio radio">
                                <input checked value="Разработка сайта" class="radio__input" name="service" type="radio">
                                <span class="radio__text">Разработка сайта</span>
                            </label>
                            <label class="steps-calculator__radio radio">
                                <input value="SMM" class="radio__input" name="service" type="radio">
                                <span class="radio__text">Контекстная реклама</span>
                            </label>
                            <label class="steps-calculator__radio radio">
                                <input value="SEO" class="radio__input" name="service" type="radio">
                                <span class="radio__text">SMM</span>
                            </label>
                            <label class="steps-calculator__radio radio">
                                <input value="SEO" class="radio__input" name="service" type="radio">
                                <span class="radio__text">Авито</span>
                            </label>
                            <label class="steps-calculator__radio radio">
                                <input value="SEO" class="radio__input" name="service" type="radio">
                                <span class="radio__text">SEO</span>
                            </label>
                            <label class="steps-calculator__radio radio">
                                <input value="SEO" class="radio__input" name="service" type="radio">
                                <span class="radio__text">Таргетированная реклама</span>
                            </label>
                        </div>
                    </div>
                    <div class="steps-calculator__controller">
                        <div data-step="2" class="steps-calculator__item">
                            <p class="steps-calculator__subtitle">Какая услуга вас не интересует?</p>
                            <div class="steps-calculator__options">
                                <label class="steps-calculator__radio radio">
                                    <input checked value="Разработка сайта" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">Разработка сайта</span>
                                </label>
                                <label class="steps-calculator__radio radio">
                                    <input value="SMM" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">SMM</span>
                                </label>
                                <label class="steps-calculator__radio radio">
                                    <input value="SEO" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">SEO</span>
                                </label>
                            </div>
                        </div>
                        <div data-step="3" class="steps-calculator__item">
                            <p class="steps-calculator__subtitle">Какая услуга вас интересует?</p>
                            <div class="steps-calculator__options">
                                <label class="steps-calculator__radio radio">
                                    <input value="Разработка сайта" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">Разработка сайта</span>
                                </label>
                                <label class="steps-calculator__radio radio">
                                    <input value="SMM" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">SMM</span>
                                </label>
                                <label class="steps-calculator__radio radio">
                                    <input value="SEO" class="radio__input" name="service" type="radio">
                                    <span class="radio__text">SEO</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="steps-calculator__navigation">
                        <div class="steps-calculator__buttons">
                            <div class="steps-calculator__back">
                                <svg viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.9795 10.4199C21.6003 10.4293 17.4749 12.1303 17.491 17.9499"/>
                                    <path d="M24.9727 7.50977C21.5935 7.5191 17.4587 5.84094 17.4427 0.0212691"/>
                                    <rect x="21.2139" y="6.67383" transform="rotate(89.8417 21.2139 6.67383)"/>
                                </svg>	
                            </div>
                            <div class="steps-calculator__next _button">
                                <span>Далее</span>
                                <svg viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.9795 10.4199C21.6003 10.4293 17.4749 12.1303 17.491 17.9499"/>
                                    <path d="M24.9727 7.50977C21.5935 7.5191 17.4587 5.84094 17.4427 0.0212691"/>
                                    <rect x="21.2139" y="6.67383" transform="rotate(89.8417 21.2139 6.67383)"/>
                                </svg>	
                            </div>
                        </div>
                        <div class="steps-calculator__pagination">
                            <span class="steps-calculator__current">1</span>
                            /
                            <span class="steps-calculator__total">5</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="calculator__right">
                <img src="img/calculator.jpg" alt="" class="calculator__background">
                <div class="calculator__info info-calculator">
                    <img src="img/calculator_avatar.png" alt="" class="info-calculator__avatar">
                    <div class="info-calculator__popup">
                        <p class="info-calculator__title">На связи Klatcen!</p>
                        <p class="info-calculator__text">Мы уже хотим с вами познакомиться, но цену вы узнаете сейчас</p>
                    </div>
                </div>
            </div>
        </div>
    </div>